@font-face {
  font-family: 'iconfont';  /* project id："184338" */
  src: url('//at.alicdn.com/t/font_11b0fzedz7jk0529.eot');
  src: url('//at.alicdn.com/t/font_11b0fzedz7jk0529.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_11b0fzedz7jk0529.woff') format('woff'),
  url('//at.alicdn.com/t/font_11b0fzedz7jk0529.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_11b0fzedz7jk0529.svg#iconfont') format('svg');
}

@import url("//at.alicdn.com/t/font_kgj1h2s7jogbke29.css");

.iconfont {
  font-size: inherit;
}
